@model List<EcommerceApp.DAL.Concrete.Models.ApplicationUser>

@{
    ViewBag.Title = "Authorization";
}
<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Users
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Authorize", "Create", new { userId = item.Id })
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
